
@{
    ViewBag.Title = " Статистика";
}

<h2>Статистика</h2>

<div>
    <div class="form-group">
        <label>Самая покупаемая машина: </label>
        <span>@ViewBag.Service.GetMostPopularCar()</span>
    </div>

    <div class="form-group">
        <label>Средний чек заказа: </label>
        <span>@ViewBag.Service.GetAverPrice()</span>
    </div>
</div>

