
@{
    ViewBag.Title = " Статистика";
}

<h2>Статистика</h2>

<div>
    <div class="form-group">
        <label>Самая покупаемая машина: </label>
        <span>@ViewBag.Service.GetMostPopularCar().name в количестве @ViewBag.Service.GetMostPopularCar().count</span>
    </div>

    <div class="form-group">
        <label>Средний чек заказа: </label>
        <span>@ViewBag.Service.GetAverageCheck()</span>
    </div>
</div>

